In [21]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv(r"C:\Users\Anoux\Desktop\data-analysis\random-csv-files\dirty_dataset.csv")

In [23]:
df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2[10],NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,7,NaN,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12]
8,9,NaN,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,NaN,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,NaN,NaN,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16]
11,12,NaN,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18]
12,13,NaN,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19]
13,14,1[20],NaN,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20]
14,15,2[c],NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,NaN,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22]
16,17,NaN,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d]
17,18,NaN,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4]
18,19,NaN,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25]
19,20,NaN,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26]

In [24]:
#1 drop duplicates. This datset has no duplicates, though

df = df.drop_duplicates()

In [25]:
df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2[10],NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,7,NaN,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12]
8,9,NaN,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,NaN,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,NaN,NaN,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16]
11,12,NaN,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18]
12,13,NaN,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19]
13,14,1[20],NaN,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20]
14,15,2[c],NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,NaN,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22]
16,17,NaN,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d]
17,18,NaN,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4]
18,19,NaN,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25]
19,20,NaN,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26]

In [26]:
#supose two columns (Ref. and Alt Time Peak are useless. Then I delete it by

df = df.drop(columns = ['Ref.', 'All Time Peak'])
df

,Rank,Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross
0,1,1,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571"
1,2,1,"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571"
2,3,1[4],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294"
3,4,2[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795"
4,5,2[4],"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173"
5,6,2[4],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709"
6,7,2[10],"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405"
7,7,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927"
8,9,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215"
9,10,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882"
10,11,NaN,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606"
11,12,NaN,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227"
12,13,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993"
13,14,1[20],"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385"
14,15,2[c],"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333"
15,16,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775"
16,17,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694"
17,18,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732"
18,19,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950"
19,20,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186"

In [49]:
# cleaning of columns "Peak". The last two were "cleaned" by replacing
# the actual value for the new one without the strange characters

df["Peak"] = df["Peak"].str.rstrip("[4]")

df["Peak"] = df["Peak"].str.strip("[7")

df["Peak"] = df["Peak"].str.strip("[c")

df["Peak"] = df["Peak"].str.replace('2[10','2')

df["Peak"] = df["Peak"].str.replace('1[20','1')

In [48]:
df

,Rank,Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross
0,1,1,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571"
1,2,1,"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571"
2,3,1,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294"
3,4,2,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795"
4,5,2,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173"
5,6,2,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709"
6,7,2,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405"
7,7,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927"
8,9,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215"
9,10,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882"
10,11,NaN,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606"
11,12,NaN,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227"
12,13,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993"
13,14,1,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385"
14,15,2,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333"
15,16,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775"
16,17,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694"
17,18,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732"
18,19,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950"
19,20,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186"

In [54]:
# cleaning of columns "Actual gross"

df["Actual gross "] = df["Actual gross "].str.rstrip("[e]")

df["Actual gross "] = df["Actual gross "].str.rstrip("[b]")

#looks like there is a problem with the header

KeyError: 'Actual gross '

In [58]:
#this is the actual header. I will try the same but using 'Actual\xa0gross' instead of 'Actual gross'
df.columns[2]

'Actual\xa0gross'

In [59]:
# cleaning of column "Actual gross" using 'Actual\xa0gross' as header

df["Actual\xa0gross"] = df["Actual\xa0gross"].str.rstrip("[e]")

df["Actual\xa0gross"] = df["Actual\xa0gross"].str.rstrip("[b]")

#looks like there is a problem with the header

In [60]:
df

,Rank,Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross
0,1,1,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571"
1,2,1,"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571"
2,3,1,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294"
3,4,2,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795"
4,5,2,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173"
5,6,2,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709"
6,7,2,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405"
7,7,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927"
8,9,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215"
9,10,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882"
10,11,NaN,"$229,100,000","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606"
11,12,NaN,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227"
12,13,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993"
13,14,1,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385"
14,15,2,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333"
15,16,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775"
16,17,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694"
17,18,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732"
18,19,NaN,"$167,700,000","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950"
19,20,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186"

In [64]:
# cleaning of column "Tour title"

df["Tour title"] = df["Tour title"].str.rstrip("[a]")

df["Tour title"] = df["Tour title"].str.rstrip("[4]")

df["Tour title"] = df["Tour title"].str.rstrip("[21]")

In [65]:
df

,Rank,Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross
0,1,1,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571"
1,2,1,"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571"
2,3,1,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡,2008–2009,85,"$4,835,294"
3,4,2,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795"
4,5,2,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173"
5,6,2,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709"
6,7,2,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405"
7,7,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927"
8,9,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215"
9,10,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882"
10,11,NaN,"$229,100,000","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606"
11,12,NaN,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227"
12,13,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993"
13,14,1,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡,2002–2005,325,"$615,385"
14,15,2,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333"
15,16,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775"
16,17,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694"
17,18,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732"
18,19,NaN,"$167,700,000","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950"
19,20,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186"

In [66]:
df["Year(s)"] = df["Year(s)"].str.replace('–',' and ')

In [69]:
df

,Rank,Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross
0,1,1,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023 and 2024,56,"$13,928,571"
1,2,1,"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571"
2,3,1,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡,2008 and 2009,85,"$4,835,294"
3,4,2,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018 and 2019,156,"$2,546,795"
4,5,2,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173"
5,6,2,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709"
6,7,2,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008 and 2009,131,"$2,137,405"
7,7,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023 and 2024,41,"$6,282,927"
8,9,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215"
9,10,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882"
10,11,NaN,"$229,100,000","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013 and 2014,132,"$1,735,606"
11,12,NaN,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009 and 2011,203,"$1,118,227"
12,13,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014 and 2015,151,"$1,350,993"
13,14,1,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡,2002 and 2005,325,"$615,385"
14,15,2,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333"
15,16,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013 and 2014,142,"$1,295,775"
16,17,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012 and 2013,98,"$1,734,694"
17,18,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015 and 2016,82,"$2,070,732"
18,19,NaN,"$167,700,000","$204,486,106",Adele,Adele Live 2016,2016 and 2017,121,"$1,385,950"
19,20,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013 and 2014,86,"$1,744,186"

In [70]:
# Rank column has a duplicate 7 value

In [71]:
df

,Rank,Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross
0,1,1,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023 and 2024,56,"$13,928,571"
1,2,1,"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571"
2,3,1,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡,2008 and 2009,85,"$4,835,294"
3,4,2,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018 and 2019,156,"$2,546,795"
4,5,2,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173"
5,6,2,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709"
6,7,2,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008 and 2009,131,"$2,137,405"
7,7,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023 and 2024,41,"$6,282,927"
8,9,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215"
9,10,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882"
10,11,NaN,"$229,100,000","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013 and 2014,132,"$1,735,606"
11,12,NaN,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009 and 2011,203,"$1,118,227"
12,13,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014 and 2015,151,"$1,350,993"
13,14,1,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡,2002 and 2005,325,"$615,385"
14,15,2,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333"
15,16,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013 and 2014,142,"$1,295,775"
16,17,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012 and 2013,98,"$1,734,694"
17,18,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015 and 2016,82,"$2,070,732"
18,19,NaN,"$167,700,000","$204,486,106",Adele,Adele Live 2016,2016 and 2017,121,"$1,385,950"
19,20,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013 and 2014,86,"$1,744,186"

In [94]:
df1 = df['Rank']

In [96]:
df1

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      7
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
Name: Rank, dtype: int64

In [104]:
#to fix the duplicate 7 value on Rank column

indices_of_7 = df.index[df['Rank'] == 7].tolist()

if len(indices_of_7) > 1:
    df.at[indices_of_7[1], 'Rank'] = 8

In [105]:
df

,Rank,Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross
0,1,1,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023 and 2024,56,"$13,928,571"
1,2,1,"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571"
2,3,1,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡,2008 and 2009,85,"$4,835,294"
3,4,2,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018 and 2019,156,"$2,546,795"
4,5,2,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173"
5,6,2,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709"
6,7,2,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008 and 2009,131,"$2,137,405"
7,8,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023 and 2024,41,"$6,282,927"
8,9,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215"
9,10,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882"
10,11,NaN,"$229,100,000","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013 and 2014,132,"$1,735,606"
11,12,NaN,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009 and 2011,203,"$1,118,227"
12,13,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014 and 2015,151,"$1,350,993"
13,14,1,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡,2002 and 2005,325,"$615,385"
14,15,2,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333"
15,16,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013 and 2014,142,"$1,295,775"
16,17,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012 and 2013,98,"$1,734,694"
17,18,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015 and 2016,82,"$2,070,732"
18,19,NaN,"$167,700,000","$204,486,106",Adele,Adele Live 2016,2016 and 2017,121,"$1,385,950"
19,20,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013 and 2014,86,"$1,744,186"